.products-loading {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  opacity: 0.5;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 0.7em;
  padding: 0.5em;
}

.product-list__product {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  height: 230px;
  padding: 12px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
}

.product-list__product__top {
  display: flex;
  height: 100%;
  gap: 1em;
}

.product-list__product__top__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  min-width: 90px;
  width: 90px;
}

.product-list__product__top__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.product-list__product__top__details__title {
  color: var(--card-title-color);
}

.product-list__product__top__details__price {
  color: var(--secondary-color);
  font-weight: 900;
  font-size: 1.5rem;
}

.product-list__product__bottom {
  margin-top: 0.5em;
}