@import url("reset.css");
@import url("theme.css");
@import url("variables.css");

body {
  font-family: Epilogue, sans-serif;
  background-color: var(--background-color);

  &.blur {
    #content > * {
      filter: blur(4px) brightness(0.7);
      pointer-events: none;
      user-select: none;
      transition: all 0.25s ease-in;
    }
  }
}

.loading-center {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  opacity: 0.5;
}

#content {
  display: flex;
  flex-direction: column;
  margin-top: var(--header-height);
  padding: 1em 0.5em;
  min-height: calc(100vh - var(--header-height));

  & > :first-child {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: calc(var(--content-height) - 2em);
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  flex-grow: 1;
  margin: 0 auto;
}

.primary-button-outline,
.primary-button {
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: 0.8em;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.primary-button {
  background-color: var(--primary-contrast-color);
  border: 0;
  color: var(--title-color);
  border: 1px solid rgba(0,0,0,0.1);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary-button-outline {
  border: 1px solid var(--primary-contrast-color);
  background-color: var(--title-color);
  color: var(--primary-contrast-color);
  font-weight: 600;
}

.primary-link {
  color: var(--primary-contrast-color);
}

.primary-link-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary-contrast-color);
  text-decoration: none;
  font-weight: 500;

  .primary-link-back__icon {
    width: 25px;
    height: 25px;
  }

  .primary-link-back__text {
    text-decoration: underline;
  }
}
