.products-cart {
  display: flex;
}

.products-cart__products {
  padding: 0.5em;
  width: 100%;
}

.products-cart__cart-overview {
  display: none;
  position: fixed;
  bottom: 0;
  top: var(--header-height);
  right: 0;
  left: 70%;
}


@media screen and (min-width: 1200px) {
  .products-cart__products {
    width: calc(70% - 4em);
    margin: 0 2em;
  }

  .products-cart__cart-overview {
    display: flex;
  }
}