.product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 4em auto 0;
  flex-grow: 1;
}

.product-details__product {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (min-width: 800px) {
  .product-details {
    margin: 4em auto;
  }
}
