.header {
  position: fixed;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  z-index: 10;
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}

.header__title {
  width: 80%;
}

.header__title__text {
  color: var(--title-color);
  font-size: 1.8rem;
  padding-left: 1em;
}

.header__button {
  display: flex;
  align-items: center;
  background: transparent;
  position: relative;
}

.header__button__quantity {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;

  top: -8px;
  right: -4px;
  background: red;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--title-color);
  font-weight: 900;
}

.header__button__cart-icon {
  position: relative;
  font-size: 2rem;
  color: var(--title-color);
}

.header__cart {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  width: 40%;
  height: 100%;
  margin-left: 1.5em;
}

.header__cart span {
  z-index: 1;
}

.header__cart:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: var(--secondary-color);
  transform: skew(-45deg);
  z-index: 0;
}

.header__cart:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: var(--secondary-color);
  transform: skew(45deg);
  z-index: 0;
}

.header__cart__title {
  color: white;
  font-size: 1.5rem;
  padding-left: 1.5em;
  font-weight: 700;
}
