<div class="product-base-card">
  <div class="product-base-card__top">
    <div class="product-base-card__top__img">
      <img ng-src="{{$ctrl.product.thumbnail}}" />
    </div>
  
    <div class="product-base-card__top__details">
      <a ng-href="#!/products/{{$ctrl.product.id}}" class="product-base-card__top__details__title">
        <h5 title="{{$ctrl.product.title}}">{{$ctrl.product.title}}</h5>
      </a>
  
      <span class="product-base-card__top__details__price">{{$ctrl.product.price | brlCurrencyFilter}}</span>
    </div>
  </div>
  
  <div class="product-base-card__bottom">
    <button ng-click="$ctrl.addToCart()" type="button" class="primary-button">Add to cart</button>
  </div>
</div>
